/*
  Author: Jennifer Salas
  Date Created: 7/29/2019
*/
:root {
  --main-gray: #7d97ad;
  --main-blue: #02b3e4;
  --main-dark: #2d3c49;
}

h1, h2, p, div {
  color: var(--main-dark);
}

img {
  max-width: 100%;
}

body {
  max-width: 1000;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

header {
  padding: 10px;
  border-bottom: 3px solid var(--main-gray);
  height: 10vh;
  margin-bottom: 10px;
  vertical-align: center;
}

.logo {
  max-height: 100%;
  float: left;
}

h1 {
  text-align: right;
  font-family: 'Red Hat Display', sans-serif;
  margin: 0px 10px 0px 0px;
  text-transform: uppercase;
  font-weight: lighter;
}

h2 {
  text-align: right;
  font-family: 'Red Hat Display', sans-serif;
  margin: 0px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1em;
}

.subtitle {
  font-family: 'Nunito', sans-serif;
  color: var(--main-gray);
  letter-spacing: 2px;
  margin: .25em;
  font-size: 2em;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work .work-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(2, 179, 228, .85);
}

.work-title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.work {
  min-width: 200px;
  max-width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  flex-grow: 1;
  position: relative;
  margin: 1px;
}

.clear {
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Nunito', sans-serif;
  font-size: .75em;
  text-decoration: none;
  color: var(--main-dark);
}
