/*
  Author: Jennifer Salas
  Date Created: 7/29/2019
*/
:root {
  --main-gray: #7d97ad;
  --main-dark: #2d3c49;
}

h1, h2, p, div {
  color: var(--main-dark);
}

img {
  max-width: 100%;
}

html {
  height: 100%;
  margin: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px 0 10px;
}

header {
  padding: 10px;
  border-bottom: 3px solid var(--main-gray);
  height: 8vh;
  margin-bottom: 10px;
  vertical-align: center;
  position: relative;
}

header .title {
  position: absolute;
  bottom: 10px;
  right: 0;
}

main {
  flex: 1;
}

footer {
  /* margin-top: auto auto 0 auto; */
  font: 0.75em "Open Sans", sans-serif;
  color: var(--main-dark);
  text-align: center;
  flex-shrink: 1;
}

footer p {
  margin: 0;
}
.logo {
  max-height: 100%;
  float: left;
}

h1 {
  text-align: right;
  font: small-caps lighter 2em "Red Hat Display", sans-serif;
  margin: 0px;
}

h2 {
  text-align: right;
  font: small-caps lighter 1em "Red Hat Display", sans-serif;
  margin: 0px;
}

@media screen and (max-width:400px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }
}

.subtitle {
  font: small-caps 2em "Red Hat Display", sans-serif;
  /* letter-spacing: 2px; */
  color: var(--main-gray);
  margin: .25em;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work .sample-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(128, 128, 255, .85);
}

.sample-title {
  font: small-caps 1em "Open Sans", sans-serif;
  color: #fff;
}

.sample-details a {
  color: #fff;
}

.work {
  min-width: 200px;
  max-width: 100%;
  height: 200px;
  background: center/cover no-repeat;
  text-align: center;
  flex-grow: 1;
  position: relative;
  margin: 1px;
}

.sample1 {
  background-image: url("img/sample1.png");
}

.sample2 {
  background-image: url("img/sample2.png");
}

.sample3 {
  background-image: url("img/sample3.png");
}

.clear {
  width: 100%;
  height: 100%;
}

p {
  font: 1em "Open Sans", sans-serif;
}

a {
  font: 1em "Open Sans", sans-serif;
  font-size: .75em;
  text-decoration: none;
  color: var(--main-dark);
}
