/*
  Author: Jennifer Salas
  Date Created: 7/29/2019
*/

:root {
  --main-gray: #7d97ad;
  --main-blue: #02b3e4;
  --main-dark: #2d3c49;
}

h1, h2, p, div {
  color: var(--main-dark);
}

header {
  padding: 10px;
  border-bottom: 3px solid var(--main-gray);
  height: 10vh;
  margin-bottom: 10px;
  vertical-align: center;
}

body {
  max-width: 1000;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

h1, h2 {
  text-align: right;
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-weight: lighter;
}

h1 {
  margin-top: 10;
}

h2 {
  font-size: 1em;
}

.subtitle {
  font-family: 'Nunito', sans-serif;
  color: var(--main-gray);
  letter-spacing: 2px;
  margin: .25em;
  font-size: 2em;
}

@media screen and (max-width:400px) {
  .work {
    width: 100%;
  }

  .work-container {
    display: block;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  .subtitle {
    text-align: center;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 400px) {
  .work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .work {
    flex-grow: 1;
  }
}

.logo {
  max-height: 100%;
  float: left;
}

img {
  max-width: 100%;
}

.clear {
  width: 100%;
  height: 100%;
}

.title {
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.sample-image {
  min-width: 200px;
  max-width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.work-title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.work {
  text-align: center;
}

a {
  font-family: 'Nunito', sans-serif;
  font-size: .75em;
  text-decoration: none;
  color: var(--main-dark);
}
